.container {
  width: 50vw;
  height: 70vh;
  background-image: url("./images/thinker.png"); /* Replace with your image URL */
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right;
  display: flex;
  justify-content: start;
  align-items: center;
}

.title {
  color: white;
  font-size: 4rem;
  text-shadow: 2px 2px #000000;
}
