body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #364957, #7998aa);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
